<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_4.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <display-name>Registration</display-name>
  <servlet>
    <servlet-name>0014</servlet-name>
    <servlet-class>com.user.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>0014</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>0015</servlet-name>
    <servlet-class>Registrationdata.Registrationservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>0015</servlet-name>
    <url-pattern>/Registrationservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>0016</servlet-name>
    <servlet-class>com.user.Recoverpasswordservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>0016</servlet-name>
    <url-pattern>/Recoverpasswordservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MailApp</display-name>
    <servlet-name>MailApp</servlet-name>
    <servlet-class>com.user.MailApp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MailApp</servlet-name>
    <url-pattern>/MailApp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMail</display-name>
    <servlet-name>SendMail</servlet-name>
    <servlet-class>com.user.SendMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMail</servlet-name>
    <url-pattern>/SendMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MailApp3</display-name>
    <servlet-name>MailApp3</servlet-name>
    <servlet-class>com.user.MailApp3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MailApp3</servlet-name>
    <url-pattern>/MailApp3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Invalidlogincredentials</display-name>
    <servlet-name>Invalidlogincredentials</servlet-name>
    <servlet-class>com.user.Invalidlogincredentials</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Invalidlogincredentials</servlet-name>
    <url-pattern>/Invalidlogincredentials</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Newcampaignservlet</servlet-name>
    <servlet-class>Newcampaign.Newcampaignservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Newcampaignservlet</servlet-name>
    <url-pattern>/Newcampaignservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsenderIDServlet</servlet-name>
    <servlet-class>SenderID.NewsenderIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsenderIDServlet</servlet-name>
    <url-pattern>/NewsenderIDServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessagetemplateServlet</servlet-name>
    <servlet-class>MessageTemplate.MessagetemplateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessagetemplateServlet</servlet-name>
    <url-pattern>/MessagetemplateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>imageupload</servlet-name>
    <servlet-class>Newcampaign.imageupload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>imageupload</servlet-name>
    <url-pattern>/imageupload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewGroupServlet</display-name>
    <servlet-name>NewGroupServlet</servlet-name>
    <servlet-class>Createnewgroup.NewGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewGroupServlet</servlet-name>
    <url-pattern>/NewGroupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewCampaignGroupServlet</display-name>
    <servlet-name>NewCampaignGroupServlet</servlet-name>
    <servlet-class>NewCampaignwithGroup.NewCampaignGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewCampaignGroupServlet</servlet-name>
    <url-pattern>/NewCampaignGroupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>addnumbertogroupservlet</servlet-name>
    <servlet-class>Addnumberstogroup.addnumbertogroupservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addnumbertogroupservlet</servlet-name>
    <url-pattern>/addnumbertogroupservlet</url-pattern>
  </servlet-mapping>
</web-app>